<!-- <div class="col-md-11, container" style="margin-top: 100px; background-color:#c6dbc6; color: #2a0240; width: 600px;">
  <h2 class="text-center" style="margin-top: 70px; color:green">{{isEdit ? 'Edit Department' : 'Add Department'}}</h2>
  <div class="row">
    <div class="col-sm-11">

      <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="DepartmentName"><b>Department Name:</b></label>
        <input type="DepartmentName" formControlName="DepartmentName" placeholder="Department Name" name="DepartmentName" class="form-control" id="DepartmentName">
      </div>
      <div *ngIf="f.DepartmentName.invalid && (f.DepartmentName.dirty || f.DepartmentName.touched || submitted)">
      </div>
     <br/>

    <button type="Submit" style="background-color:green; color: #e0d7e6;"><b>{{isEdit ? 'Update' : 'Add Department'}}</b></button>

    <br/>
      </form>
      </div>
      <p style= "text-align:left; padding-left:300px;color:red">
        Form Status: {{ departmentForm.status }}
      </p>
  </div>
</div> -->

<h1>hi</h1>
