  <mat-toolbar class="page-header" role="heading">
    <h1>Student Management System</h1>

  </mat-toolbar>
  <div class="charts-wrapper">
    <div class="chrt1">
    </div>
    <div class="chart">
      <button class="btn" mat-flat-button (click)="btnStudent()"><b>Student</b></button>
    </div>
    <div class="chart">
      <button class="btn" mat-flat-button (click)="btnDepartment()"><b>Department</b></button>
    </div>
    <div class="chart">
      <button class="btn" mat-flat-button (click)="btnCourse()"><b>Course</b></button>
    </div>
  </div>
